<div class="about-wrapper">
  <h1>About Us</h1>

  <div class="contributors-wrapper">

    <div class="contributor">
      <h2>Joe Eames</h2>
      <p>Joe is a Viking (at heart). By day he is a mild-mannered author for Pluralsight.com. By night he is a mild-mannered organizer of ng-conf. He is a Google Developer Expert in Angular, gives lots of talks & workshops, and loves all things web.</p>
      <a target="_blank" href="https://twitter.com/josepheames">
        <img src="/assets/images/avatars/joe-eames.gif" alt="joe eames in a viking hat">
        <p>Find Joe on Twitter <i class="fa fa-twitter"></i></p>
      </a>
    </div>
    <div class="contributor">
      <h2>Alyssa Nicoll</h2>
      <p>I am an energetic, über passionate GDE and Web Dev. I have some Front-End and Angular courses on Code School. I love to learn new things and share them with others. I Scuba Dive and have a toothless dog named 'Gummy'.</p>
      <a target="_blank" href="https://twitter.com/alyssanicoll">
        <img src="/assets/images/avatars/alyssa-nicoll.jpg" alt="alyssa nicoll in mickey mouse ears">
        <p>Find Alyssa on Twitter <i class="fa fa-twitter"></i></p>
      </a>
    </div>
  </div>

</div>
